* {
	text-align: center;
}	

body {
	background-image: url('/images/Background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 95vh;
	font-family: 'Playfair Display', serif;
	color: white;
}


<ul style="list-style-type: circle;">
    <li>Item with circle bullet</li>
</ul>
