* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}	

body {
  font-weight: 200;
  margin: 0px;
  padding: 0px;
  background-image: url('/images/Background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}

a {
  text-decoration: none;
  margin: 0 10px;
  color: rgb(255, 255, 230)  
}

a:hover {
  text-decoration: underline;
  color: rgb(255, 208, 211);
}

.header-bar {
  font-weight: 350;
  width: 100%;
  height: 35px;
  display: flex;
  top: 0;	
  justify-content: center;
  align-items: center;	
  background-color: rgba(0, 0, 0, 0.40);
  color: rgb(255, 255, 230);
}	

.main-box {
  width: 90%;
  height: 550px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  color: rgb(82,89,134);
}

.footer-bar {
  width: 50%;
  height: 20px;
  display: flex;
  align-items: center;	
  position: absolute;
  bottom: 0;
  left: 0.5%;
  font-size: 10px;
  color: rgb(225, 225, 225);
}	

.title-name {
  font-size: 70px;
}

.title-desc {
  font-size: 15px	
}	

.decimal-to-binary {
  margin-top: 40px;
}

.binary-to-decimal {
  margin-top: 50px;
}

.home {
  margin-top: 205px;
}	

#binaryToDecimalResult, #decimalToBinaryResult {
  min-height: 20px;
  opacity: 0;
}