* {
	text-align: center;
}	

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}	

body {
	background-image: url('/images/Background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Playfair Display', serif;
	color: white;
}

h1 {
	font-size: 55px;
}

.semi-transparent-box {
    width: 40%; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    border-radius: 10px; /* Optional: rounded corners */
    margin: 20px auto; /* Center the box with margin */
    display: flex; /* Optional: to center content */
    align-items: center; /* Optional: center content vertically */
    justify-content: center; /* Optional: center content horizontally */
    color: white; /* Text color inside the box */
    text-align: center; /* Center text */
}